@mixin block {
  .contact-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    .contact-div {
      display: flex;
      flex-direction: column;
      .contact-heading {
        font-size: 26px;
        margin-bottom: 10px;
      }
      .contact-list {
        margin-top: 0;
        list-style: none;
        padding-left: 0;
        font-size: 22px;
        .contact-icon {
          height: 40px;
          position: relative;
          margin-right: 15px;
          vertical-align: middle;
        }
        .contact-top {
          margin-bottom: 10px;
        }
      }
    }
    @media screen and (max-width: 620px) {
      width: 100%;
      margin-bottom: 0;
      .contact-div {
        padding-left: 30px;
        .contact-heading {
          font-size: 20px;
        }
        .contact-list {
          font-size: 16px;
          .contact-top {
            margin-bottom: 10px;
          }
          .contact-icon {
            height: 24px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
