@mixin block {
  .contact-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    .contact-div {
      display: flex;
      flex-direction: column;
      .contact-list {
        margin-top: 0;
        list-style: none;
        padding-left: 0;
        font-size: 24px;
        .contact-icon {
          height: 40px;
          position: relative;
          margin-right: 20px;
          vertical-align: middle;
        }
        .contact-top {
          margin-bottom: 20px;
        }
      }
    }
    @media screen and (max-width: 620px) {
      .contact-div {
        .contact-list {
          font-size: 18px;
          .contact-top {
            margin-bottom: 15px;
          }
          .contact-icon {
            height: 30px;
          }
        }
      }
    }
  }
}
