@mixin grid {
  .contact-grid {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 0.5rem;
    padding: 16px 0px;
    user-select: none;

    @include block;

    @media screen and (min-width: 1124px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      padding: 24px;
    }
  }
}
@mixin block {
  .contact-div {
    border-radius: 8px;
    color: var(--main-dark-sea-green);
    background-color: var(--main-mint-white);
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    width: 100%;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.32);
    .contact-heading {
      font-size: 26px;
      margin-bottom: 10px;
    }
    .contact-list {
      margin-top: 0;
      list-style: none;
      padding-left: 0;
      font-size: 22px;
      .contact-icon {
        height: 40px;
        position: relative;
        margin-right: 15px;
        vertical-align: middle;
      }
      .contact-top {
        margin-bottom: 10px;
      }
      a {
        color: var(--main-dark-sea-green);
      }
    }
    @media screen and (max-width: 620px) {
      width: 100%;
      padding: 0px 15px;
      margin-bottom: 20px;
      .contact-heading {
        font-size: 20px;
      }
      .contact-list {
        font-size: 16px;
        .contact-top {
          margin-bottom: 10px;
        }
        .contact-icon {
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}
