@mixin block {
  .image-text {
    display: flex;
    max-width: 1024px;
    position: relative;
    margin-bottom: 50px;

    // Normalize
    h2,
    p {
      align-self: unset;
      margin: 0;
      max-width: unset;
    }

    .decoration-wrapper,
    .image-text-wrapper {
      display: flex;
      flex-direction: column;
    }

    .decoration-wrapper {
      align-items: flex-end;
      margin-right: 1rem;

      .round {
        color: white;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h2 {
        margin-top: 1rem;
        font-size: 48px;
      }

      .line {
        margin-top: 1rem;
        display: block;
        width: 8px;
        flex-grow: 2;
        border-radius: 8px;
      }
    }
    .image-text-wrapper {
      .line {
        margin-right: 1rem;
        display: none;
        width: 8px;
        height: 100%;
        border-radius: 8px;
      }

      img {
        aspect-ratio: 16 / 9;
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
      }

      .text-content {
        margin-top: 1rem;
        /* background-color: white; */
        border-radius: 8px;
        padding: 8px;
      }
    }

    &.spotlight {
      .decoration-wrapper {
        h2 {
          margin-top: 0;
          margin-left: 0;
        }

        .round {
          display: none;
        }
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      margin-bottom: 40px;
      img {
        height: 244px;
      }
      .decoration-wrapper {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 30px;

        .round {
          width: 48px;
          height: 48px;
        }

        .line {
          display: none;
        }

        h2 {
          margin-top: 0;
          margin-left: 1rem;
          font-size: 30px;
          padding: 5px 10px;
        }
        .round {
          width: 44px;
          height: 44px;
          font-size: 30px;
        }
      }

      .image-text-wrapper {
        flex-direction: row;
        .line {
          display: block;
        }
      }
    }
  }
}
