@mixin block {
  .image-text {
    display: flex;
    max-width: 1024px;
    position: relative;

    // Normalize
    h2,
    p {
      align-self: unset;
      margin: 0;
      max-width: unset;
    }

    &.spotlight {
      .decoration-wrapper {
        h2 {
          margin-top: 0;
        }
        .round {
          display: none;
        }
      }
    }

    .decoration-wrapper,
    .image-text-wrapper {
      display: flex;
      flex-direction: column;
    }
    .decoration-wrapper {
      align-items: flex-end;
      margin-right: 8px;
      .round {
        color: white;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2 {
        margin-top: 1rem;
      }
      .line {
        margin-top: 1rem;
        display: block;
        width: 8px;
        flex-grow: 2;
        border-radius: 8px;
      }
    }
    .image-text-wrapper {
      .line {
        margin-right: 8px;
        display: none;
        width: 8px;
        height: 100%;
        border-radius: 8px;
      }
      img {
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
      }
      .text-content {
        margin-top: 1rem;
        background-color: white;
        border-radius: 8px;
        padding: 8px;
      }
    }
    @media screen and (max-width: 512px) {
      flex-direction: column;
      .decoration-wrapper {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        .line {
          display: none;
        }
        h2 {
          margin-top: 0;
          margin-left: 1rem;
        }
      }
      .image-text-wrapper {
        flex-direction: row;
        .line {
          display: block;
        }
      }
    }
  }
}
