@mixin cluster {
  .image-cluster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    position: relative;
    min-height: 720px;

    img {
      border-radius: 8px;
      position: absolute;
      object-fit: cover;
      aspect-ratio: 16 / 9;

      &.large {
        width: 90%;
        top: 0;
        left: 0;
      }

      &.medium {
        bottom: 0;
        right: 0;
        width: 60%;
      }
    }

    @media screen and (max-width: 960px) {
      width: 450px;
      min-height: 500px;

      img {
        aspect-ratio: 1 / 1;
      }
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      // min-height: unset;
      // flex-direction: column;
      // img {
      //   &.large,
      //   &.medium {
      //     margin-top: 8px;
      //     position: static;
      //     width: 100%;
      //   }
      // }
    }
  }
}
