@mixin grid {
  .link-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
    margin: 6rem 0;

    @include button;

    @media screen and (min-width: 1024px) {
      &.complex {
        max-width: 1536px;
        grid-template-columns: repeat(12, 1fr);
        gap: 0.8rem;
      }
      &.normal {
        max-width: 1024px;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.8rem;
      }
    }
  }
}

@mixin button {
  .link-button {
    user-select: none;
    min-height: 150px;
    border-radius: 8px;
    padding: 1rem;
    background-size: cover;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 8px;
      border-radius: 8px;
    }

    &:hover {
      transform: scale(1.03);
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    }
  }
  .complex {
    .link-button {
      &.small,
      &.medium,
      &.large {
        grid-column: span 1;
      }
      &.small {
        min-height: 100px;
      }
      &.medium {
        min-height: 125px;
      }
      &.large {
        min-height: 150px;
      }

      @media screen and (min-width: 1024px) {
        &.small {
          grid-column: span 3;
        }

        &.medium {
          grid-column: span 4;
        }

        &.large {
          grid-column: span 5;
        }
      }
    }
  }
  .normal {
    .link-button {
      &.small,
      &.medium,
      &.large {
        grid-column: span 1;
        min-height: 100px;
      }

      @media screen and (min-width: 1024px) {
        &.small {
          grid-column: span 1;
        }

        &.medium,
        &.large {
          grid-column: span 2;
        }
      }
    }
  }
}

@mixin button-single {
  .link-button {
    &.single {
      align-self: flex-start;
      margin-left: calc(50% - 350px);
      min-width: 350px;
      min-height: 100px;
      @media screen and (max-width: 800px) {
        min-width: 100%;
        margin-left: unset;
      }
    }
  }
}
