@mixin grid {
  .link-grid {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 0.5rem;
    font-size: 2rem;
    padding: 0px;
    user-select: none;

    @include button;

    @media screen and (min-width: 1124px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      font-size: 3rem;
      padding: 24px;

      .link-button {
        min-height: 250px;
      }
    }
  }
}

@mixin button {
  .link-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    min-height: 150px;
    padding: 16px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

    &.large {
      grid-row: span 2;
    }

    .title {
      text-decoration: none;
      color: white;
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.2);
    }
  }
}
