@use "nested-curve-blocks/image";
@use "nested-curve-blocks/link";
@use "nested-curve-blocks/contact";
@use "nested-curve-blocks/text-image";
@use "nested-curve-blocks/image-text";

.curved-wrapper {
  position: relative;
  width: 100%;

  .top {
    display: block;
    position: absolute;
    height: 50vh;
    width: inherit;
    z-index: -1;
    top: calc(-50vh + 10px);
  }

  .curved-block {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mask: url("../svg/curve.svg");
    mask-size: cover;
    mask-position: bottom;

    .sticky-title {
      display: none;
      z-index: 2;
      color: var(--main-dark-sea-green);
      @media screen and (max-width: 420px) {
        display: block;
        align-self: flex-start;
        transform: rotate(90deg);
        position: sticky;
        top: 1.2rem;
        width: 30px;
        margin: 0;
        font-size: 40px;
      }
    }

    .content {
      margin-bottom: 300px;
      width: 100%;
      padding: 0px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 700px) {
        margin-bottom: 150px;
      }

      h2 {
        border-radius: 8px;
        padding: 0px 10px;
        font-size: 4rem;
        color: white;
        background-color: var(--main-dark-sea-green);
      }

      p,
      h2,
      .single-image {
        align-self: flex-start;
        margin-left: calc(50% - 350px);
        max-width: 700px;
        @media screen and (max-width: 800px) {
          max-width: unset;
          margin-left: unset;
          // width: 100%;
        }
      }

      .ignore-margin {
        margin-left: unset;
        max-width: unset;
      }

      .center {
        align-self: center;
        justify-self: center;
      }

      .margin-1024-adjust {
        align-self: flex-start;
        max-width: unset;
        margin-left: calc((100vw - 1024px - 80px) / 2);
        @media screen and (max-width: 1100px) {
          margin-left: 0;
        }
      }

      @include image.cluster;
      @include link.button;
      @include link.grid;
      @include contact.grid;
      @include contact.block;
      @include text-image.block;
      @include image-text.block;
      @media screen and(max-width: 700px) {
        h2 {
          margin-top: 0;
          font-size: 2.5rem;
          width: unset;
          margin-top: -40px;
        }
      }
    }

    @media screen and (min-width: 1300px) {
      mask: url("../svg/curve-big.svg");
      mask-size: cover;
      mask-position: bottom;
    }
  }

  &:last-child {
    .curved-block {
      mask: unset;
      .content {
        margin-bottom: 60px;
      }
    }
  }
}
