.curved-wrapper {
  position: relative;
  width: 100%;

  .top {
    display: block;
    position: absolute;
    height: 50vh;
    width: inherit;
    z-index: -1;
    top: calc(-50vh + 10px);
  }

  .curved-block {
    min-height: 100vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mask: url("../svg/curve.svg");
    mask-size: cover;
    mask-position: bottom;

    .content {
      margin-bottom: 20vh;
    }

    @media screen and (min-width: 1300px) {
      mask: url("../svg/curve-big.svg");
      mask-size: cover;
      mask-position: bottom;
    }
  }

  .image-cluster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    min-height: 60vh;

    img {
      padding: 4px 8px;
      position: absolute;
      object-fit: cover;
      width: calc(100vw / 4);
      max-width: 460px;
      aspect-ratio: 1 / 1;
      &:nth-child(1) {
        z-index: 2;
        top: 0;
      }
      &:nth-child(2) {
        z-index: 1;
        right: 1rem;
      }
      &:nth-child(3) {
        z-index: 3;
        left: 1rem;
        bottom: 0;
      }
    }

    @media screen and (max-width: 1800px) {
      min-height: 50vh;
    }

    @media screen and (max-width: 1300px) {
      img {
        width: calc(100vw / 3);
        position: static;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      height: auto;

      img {
        width: 100%;
        max-width: unset;
      }
    }
  }

  &:last-child {
    .curved-block {
      mask: unset;
    }
  }
}
