header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  mask: url("../svg/curve.svg");
  mask-size: cover;
  mask-position: bottom;

  @media screen and (min-width: 1300px) {
    mask: url("../svg/curve-big.svg");
    mask-size: cover;
    mask-position: bottom;
  }
}

button.scroll-button {
  background-color: darkgray;
  border-radius: 50%;
  position: absolute;
  width: 64px;
  height: 64px;
  left: calc(50vw - 64px / 2);
  right: calc(50vw - 64px / 2);
  bottom: 32px;
}
