header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;

  mask: url("../svg/curve.svg");
  mask-size: cover;
  mask-position: bottom;

  h2 {
    font-size: 100px;
    color: white;
    margin-top: 0;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .header-block-title {
    padding: 100px;
  }

  @media screen and (max-width: 700px) {
    h2,
    .header-block-title {
      font-size: 50px;
      padding: 20px;
    }
  }

  @media screen and (min-width: 1300px) {
    mask: url("../svg/curve-big.svg");
    mask-size: cover;
    mask-position: bottom;
  }
}

button.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  width: 64px;
  height: 64px;
  left: calc(50vw - 64px / 2);
  right: calc(50vw - 64px / 2);
  bottom: 32px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
