nav {
  width: 100%;
  background-color: hotpink;
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    li {
      a {
        font-size: 32px;
        color: black;
      }
    }
  }
}
