:root {
  --main-mint-white: #f3f7f6;
  --main-green: #1ba954;
  --main-blue: #46b9c0;
  --main-dark-sea-green: #25342e;
  --main-yellow: #d3a140;
  --main-lavender: #be83c9;
  --full-white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: unset;
}
